<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<style type="text/css" media="screen">
		body {
			background-color: skyblue;
			text-decoration-color: white;
			font-size:2em;
		}
	</style>
</head>
<body>
	<center>
  
 
 <h3 style="color: green"> Succesfull Registration! <span style="color: black"> </span>  </h3>
		
	</center>
</body>
</html>				
