<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
	<title>collabship</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="header">
	</div>	

	<div id="container">

		<div class="boxes">
			<div class="logo bcclr">
				<img src="moviepage.jpg"> 
			</div>

			<div class="title bcclr ">
				<a href="https://github.com/nitishjha6519/collaborate" style="color: white">collabProject <span class="badge badge-success">New</span> </a> <br> 
				Frontend Developer<br>
				Remote 
			</div>
			<div class="requirements bcclr">
				<div class="req_el">
					css
				</div>
				<div class="req_el">
					HTML
				</div>
				<a href="/apply"  class="badge badge-warning"> Apply </a>
			</div>
		</div>


	</div>

	<div id="container">

		<div class="boxes">
			<div class="logo bcclr">
				<img src="moviepage.jpg"> 
			</div>

			<div class="title bcclr">

				<a href="https://github.com/nitishjha6519/collaborate" style="color: white">collabProject <span class="badge badge-success">New</span> </a> <br> 
				Backend Developer <br>
				Remote 
			</div>
			<div class="requirements bcclr">
				<div class="req_el">
					ExpressJS and EJS
				</div>
				<div class="req_el">
					Mongoose 
				</div>
				<a href="/apply" class="badge badge-warning"> Apply </a>
			</div>
		</div>


	</div>

</body>

</html>