<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<style type="text/css" media="screen">
		body {
			background-color: skyblue;
			text-decoration-color: white;
			font-size:2em;
		}
	</style>
</head>
<body>
	
  
 
 
	<p style="color: green"> joined </p>
		

	
</body>
</html>				
